<<<<<<< Updated upstream
/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

=======
/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

>>>>>>> Stashed changes
